<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/">

        </ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ information?.Genre }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-card-header>
    {{ information.Title }}
  </ion-card-header>

  <ion-card-subtitle>
    {{ information.Year }}
  </ion-card-subtitle>

  <ion-card-content>
    
  </ion-card-content>
</ion-content>